<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Krish.dev</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <!-- <div id="circle"></div> -->
    <div id="main">
        <div class="nav-phone">
            <div class="navPhone-elm">
                <a href="/index">
                    <h2>Home</h2>
                </a>
                <a href="/about">
                    <h2>About</h2>
                </a>
                <a href="/projects">
                    <h2>Project</h2>
                </a>
                <a href="">
                    <h2>Contact</h2>
                </a>
            </div>
        </div>
        <div id="nav">
            <div class="navPart-1">
                <h1>
                    |{rish.dev</h1>
            </div>
            <div class="navPart-2">
                <a href="/index">
                    <h2>Home</h2>
                </a>
                <a href="/about">
                    <h2>About</h2>
                </a>
                <a href="/projects">
                    <h2>Project</h2>
                </a>
                <a href="">
                    <h2>Contact</h2>
                </a>
            </div>
        </div>

        <div id="menu">
            <div id="line1"></div>
            <div id="line2"></div>
        </div>
        <div id="page-1">
            <div class="container">
                <h1>
                    <strong>I'm krish</strong
            ><span class="para">
              — a passionate FrontEnd web developer currently working towards
              learning Fullstack web development.
            </span>
          </h1>
        </div>
      </div>
      <div id="page-2">
        <div class="pg-2-container">
          <h2>Introduction</h2>

          <p>
            "I am |{rish, a dedicated Frontend Web Developer with a strong
            foundation in software engineering. Currently, I am focused on
            expanding my expertise in Fullstack Web Development, driven by a
            deep passion for creating seamless digital experiences."
          </p>
        </div>
      </div>
      <div id="page-3">
        <div class="Design-txt">
          <h1>Professional Skillset</h1>
        </div>
        <div class="card-container">
          <div class="card">
            <img src="/images/java-logo.png" alt="" />
          </div>

          <div class="card">
            <img src="/images/letter-c.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/files.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/css-3-.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/java-script.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/bootstrap.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/nodejs.png" alt="" />
          </div>
          <div class="card">
            <img src="https://www.mementotech.in/assets/images/icons/express.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/atom.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/git.png" alt="" />
          </div>


          <!-- <div class="card">

            <div class="div-card-c">
              <a href="/kitchen">
                <h3>Levi's Landing Page</h3>
              </a>
              <p>By using Html Css</p>
            </div>
          </div> -->
        </div>
        <div class="Design-txt">
          <h1>Tools I use</h1>
        </div>
        <div class="tools">

          <div class="card">
            <img src="https://code.visualstudio.com/assets/images/code-stable.png" alt="" />
          </div>
          <div class="card">
            <img src="/images/github.png" alt="" />
          </div>
          <div class="card">
            <img src="https://blog.scottlogic.com/mmcalroy/assets/postmanLogo.png" alt="" />
          </div>

          <div class="card">
            <img src=" https://logodownload.org/wp-content/uploads/2019/10/adobe-photoshop-logo-0.png" alt="" />
          </div>
          <div class="card">
            <img src="https://cdn.icon-icons.com/icons2/3053/PNG/512/mongodb_compass_macos_bigsur_icon_189933.png" alt="">
          </div>

        </div>
        <div class="Design-txt">
          <h5>FIND ME ON</h5>
        </div>

      </div>
      <!-- <div id="page-4">

      </div> -->
      <footer>
        <!-- <p class="p">Feel free to connect with me</p> -->
        <div class="find-cnt">
        <div class="find-elm" >
        <i  class="ri-mail-line"></i>
        <i class="ri-linkedin-box-fill"></i>
        <i class="ri-instagram-fill"></i>
        <i class="ri-github-fill"></i>
        <i class="ri-twitter-x-line"></i>
      </div>
    </div>
    <div class="copyright">
      <h2>Designed and Developed by <span style="color: rgb(248, 255, 108);">Krish</span> 🙂 </h2>
    </div>
      </footer>
      <!-- <div id="page-5"></div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js "></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js "
      integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
      crossorigin=" anonymous "
      referrerpolicy="no-referrer "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js "
      integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=="
      crossorigin=" anonymous "
      referrerpolicy="no-referrer "
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/script.js"></script>
    .
  </body>
</html>
  </body>
</html>