<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Krish.dev</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div id="circle"></div>
    <div id="main">
        <div class="nav-phone">
            <div class="navPhone-elm">
                <a href="/index">
                    <h2>Home</h2>
                </a>
                <a href="/about">
                    <h2>About</h2>
                </a>
                <a href="">
                    <h2>Project</h2>
                </a>
                <a href="#">
                    <h2>Contact</h2>
                </a>
            </div>
        </div>
        <div id="nav">
            <div class="navPart-1">
                <h1>Krish.dev</h1>
            </div>
            <div class="navPart-2">
                <a href="/index">
                    <h2>Home</h2>
                </a>
                <a href="/about">
                    <h2>About</h2>
                </a>
                <a href="/projects">
                    <h2>Project</h2>
                </a>
                <a href="#">
                    <h2>Contact</h2>
                </a>
            </div>
        </div>
        <div id="menu">
            <div id="line1"></div>
            <div id="line2"></div>
        </div>
        <!-- <div id="projects">
            <div class="project-h">
                <h1>coming soon.</h1>
                <p>"Stay tuned for exciting new projects I am currently working on"</p>
            </div>
            <div class="projects-container">

                <div class="projects-cards ">
                    <video src="/images/developer & designer.mp4"></video>
                    <div class="project-card-content ">
                        <a href=" ">
                            <h3> developer & designer</h3>
                            <p> Live Host Comming Soon</p>
                        </a>
                    </div>
                </div>
                <div class="projects-cards">
                    <img src="/images/le.jpg" alt="">
                    <div class="project-card-content ">
                        <a href=" ">
                            <h3>Levi's landing Page</h3>
                            <p> Live Host Comming Soon</p>
                        </a>
                    </div>
                </div>
                <div class="projects-cards ">
                    <video autoplay muted loop src="/images/mars.mp4"></video>
                    <div class="project-card-content ">
                        <a href=" ">
                            <h3>Mars</h3>
                            <p> Live Host Comming Soon</p>
                        </a>
                    </div>
                </div>

            </div>
        </div> -->
        <div id="div-work">
            <div>
                <h1>-Coming Soon-</h1>
                <h5>I'm working On</h5>
                <p>Contact us
                    <a href="https://www.linkedin.com/in/krish-jatav-krishnanshu-216117229/">LinkedIn</a>
                </p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js " integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js " integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL " crossorigin="anonymous "></script>

        <script src="/javascripts/script.js "></script>
        .
</body>

</html>